body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #1F2937;
}
.heading-hero-text {
    font-size: 48px;
    color: #F9FAF8;
}
.sentence-hero-text {
    color: #E5E7EB;
}
.sign-up-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
    border-radius: 10px;
    width: 13vw;
    height: 3.5vh;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
.header-links {
    display:flex;
}
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    background-color: #1F2937;
    padding-top: 7vh;
    padding-bottom: 7vh;
}
.hero-text-button {
    width: 50vw;
}
.hero-image {
    width: 50vw;
}
.image-on-hero {
    max-width: 40vw;
    max-height: 50vh;
}
.random-information-section {
    display: flex;
    align-items: center;
    padding-top: 5vh;
    justify-content: space-evenly;
    padding-bottom: 5vh;
}
.random-information-icons {
    display: flex;
}
.icon-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    padding: 0px 20px 0px 20px;
}
.icon-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    padding: 0px 20px 0px 20px;
}
.icon-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    padding: 0px 20px 0px 20px;
}
.icon-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    padding: 0px 20px 0px 20px;
}
.icon {
    max-width: 175px;
}
.icon1 {
    width: 175px;
}
.random-information-section-heading {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
}
.inspiring-quote-section {
    background-color: #E5E7EB;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inspiring-quote-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    max-width: 70vw;
}
.inspiring-quote-creator {
    display: flex;
    align-self: end;
    padding-right: 25px;
    font-weight: 700;
}
.cta-button {
    border-radius: 10px;
    width: 13vw;
    height: 3.5vh;
}
